.card-container {
    background: #eaeaea;
    border: 1px solid #bab6b6 !important;
    border-radius: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    margin-bottom: 1px;
    padding: 0 10px;
    cursor: pointer;
}

.card-container:hover {
    background: #0030ff;
    color: #fff;
}

.card-container p {
    margin: 0;
    padding: 0;
}