.list-container {
    border: 1px solid #00bcd4;
    display: inline-block;
    min-height: 240px;
    margin-right: 30px;
    padding: 15px;
    text-transform: capitalize;
    vertical-align: top;
    width: 300px;
}
.list-container header {
    min-height: 30px;
    padding: 15px;
}
.list-container .list-content {
    margin-bottom: 20px;
    min-height: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}