.board-container {
    height: calc(100vh - 134px);
    padding: 0 50px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    vertical-align: top;
}
.board-container h2 {
    display: block;
}