.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menu-item {
  color: #00bcd4 !important;
}
.menu-link {
  text-decoration: none;
}
.app-container .app-title {
  background-color: #00bcd4;
  color: #ffffff;
  margin-top: 0;
  padding: 30px;
  min-height: 60px;
  width: 100%;
}